        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="{{ tomcat_apps_dir }}/logs"
               prefix="localhost_access_log." suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />

